# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
.vscode/
*.VC.db
*.VC.opendb
*.sln
*.suo

# Logs
*.log

# Build outputs
Build/*

# Mac/Linux
.DS_Store